<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<appSettings>  
    <add key="fromEmail" value="*****@gmail.com"/>  
    <add key="toEmail" value="*****@gmail.com"/>  
    <add key="portNumber" value="587"/> 
    <add key="smtpAdress" value="smtp.gmail.com"/> 
    <add key="emailPassword" value="******"/> 
    <add key="enableSsl" value="true"/> 
  </appSettings>  
</configuration>